<html>

  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js" integrity="sha384-3ceskX3iaEnIogmQchP8opvBy3Mi7Ce34nWjpBIwVTHfGYWQS9jwHDVRnpKKHJg7" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.3.7/js/tether.min.js" integrity="sha384-XTs3FgkjiBgo8qjEjBk0tGmf3wPrWtA6coPfQDfFEY8AnYJwjalXCiosYRBIBZX8" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js" integrity="sha384-BLiI7JTZm+JWlgKa0M0kGRpJbF2J8q+qreVrKBC47e3K6BW78kGLrCkeRX6I9RoK" crossorigin="anonymous"></script>
    {% load static %}
    <script src="{% static 'lecture/html5lightbox/html5lightbox.js' %}"></script>
    <script>
        $(function () {
            $('[data-trigger="hover"]').popover({delay:{hide:"500"}, html: true})
        })
    </script>
  </head>

  <body>

    <div id="header" style="margin: 15px">
      <h1>NTU Virtual Instructor</h1>
      <form aciton="" method="get">
        <input id="query" type="text" name="query">
        <input type="submit" value="search">
      </form>
    </div>

    <div id="side-bar" style="height:450px; width:15%; float:left; text-align:center; overflow-y: scroll">
      <div class="panel-group">
        <div class="panel panel-default">

          {% for c, l in slide_list.items %}
          <div class="panel-heading">
            <h5 class="panel-title">
              <a data-toggle="collapse" href="#collapse{{c}}">Chapter {{c}}</a>
            </h5>
          </div>

          <div id="collapse{{c}}" class="panel-collapse collapse">
            <ul class="list-group">
              {% for sc, ll in l.items %}
                  <li class="list-group-title"><a data-toggle="collapse" href="#collapse{{c}}{{sc}}">{{c}}-{{sc}}</a></li>
                  <div id="collapse{{c}}{{sc}}" class="panel-collapse collapse">
                      {% for i in ll %}
                      <li class="list-group-tiem"><a href="/lecture/{{c}}-{{sc}}-{{i}}">{{c}}-{{sc}}-{{i}}</a></li>
                      {% endfor %}
                  </div>
              {% endfor %}
            </ul>
          </div>
          {% endfor %}

        </div>
      </div>
    </div>

    <div id="content" style="width:85%;float:right">

      <div class="row">
        <div class="col-md-7">
          {% load static %}
          <img src="{% static "lecture/slides/" %}{{ch}}/{{title}}.jpg" style="width: 600px"><br><br>
        </div>

        <div class="col-md-5" id="scroll" style="height: 450px; width: 200px; overflow-y: scroll;">

          {% load static %}
          <div style="margin: 15px; align: center;">
            <a href="{% static "lecture/videos/" %}{{title}}.mp4" class="html5lightbox"><button class="btn btn-primary" >video</button></a>
          </div>

          <h3 style="color: red;">Keyterms:</h3>

          <div id="keyterms" role="tablist" aria-multiselectable="true">
            <div class="card">

              {% for key, relations in keyterms.items %}
              <div class="card-header" role="tab">
                  <a class="collapsed" data-toggle="collapse" href="#{{key}}" aria-expanded="false" aria-controls="{{key}}" data-trigger="hover" data-title="related keyterms" data-content="{% for x in relations.1 %}{{x.k2}}<br>{% endfor %}">{{key}}</a>
              </div>

              <div id="{{key}}" class="collapse" role="tabpanel">
                <div class="card-block">
                  {% for relation in relations.0 %}
                  <a href="/lecture/{{relation.title}}">{{relation.title}}<br></a>
                  {% endfor %}
                </div>
              </div>
              {% endfor %}

            </div>
          </div>

        </div>
      </div>
    </div>

  </body>
</html>
