<html>

  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.1.1/ekko-lightbox.min.css" integrity="sha256-8aNQFtmxcOMVoOhLD4mrHqaKC2Ui++LmlQsoKTqxwIE=" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.1.1/ekko-lightbox.min.js" integrity="sha256-1odJPEl+KoMUaA1T7QNMGSSU/r5LCKCRC6SL8P0r2gY=" crossorigin="anonymous"></script>
    <script>
$(function () {
  $('[data-trigger="hover"]').popover({html: true, placement: "left"})
})
$(document).on('click', '[data-toggle="lightbox"]', function(event) {
  event.preventDefault();
  $(this).ekkoLightbox();
});
$('#myModal').on('shown.bs.modal', function () {
  $('#myInput').focus()
})
    </script>
    <style>
.bg-gray {
  background-color: #eeeeee;
} 
      body {
        padding-top: 80px;
      }
    </style>
  </head>

  <body>
    <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
      <button class="navbar-toggler navbar-toggler-right hidden-lg-up" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="/lecture/"><h2><font face="serif">NTU Virtual Instructor 台大虛擬教師</font></h2></a>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto"> </ul>
        <form class="form-inline my-2 my-lg-0" action="/lecture/search/" method="get">
          <input class="form-control mr-sm-2" type="text" name="q" placeholder="Search by Speech">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>

    <div style="margin-left: 20px; margin-right: 30px;">
      <h4 style="color: #a9a9a9;">A total of {{num}} retrieved items for the query "{{q}}"</h4>

      <div class="list-group ">

        {% load functions %}
        {% for x in result %}
        <div class="list-group-item flex-column">
          <div class="d-flex w-100 justify-content-between">
            <div>
              <a href="/lecture/{{x.0}}/" class="align-self-center"><h5>{{x.0}}</h5></a>
              <p>(transcription: {{x.3}})<br>
              Key terms related to this slide: 
              {% for k in x.5 %}
              <a href="#" data-toggle="modal" data-target="#t{{k}}">{{k}}</a>,
              {% endfor %}
              </p>
            </div>

            <div class="align-self-center">

              {% load static %}
              <a href="{% static "lecture/videos/whole/" %}{{x.0}}.mp4#t={{x.1}},{{x.2}}" data-toggle="lightbox" data-type="video" data-width="1000">
                <button class="btn btn-primary">video of the<br>sentence</button>
              </a>
            </div>

          </div>
        </div>
        {% endfor %}

				<nav>
					<ul class="pagination justify-content-center">
						<li class="page-item">
              <a class="page-link" href="?q={{q}}&p=1" aria-label="Previous">
								<span aria-hidden="true">&laquo;</span>
								<span class="sr-only">Previous</span>
							</a>
						</li>
            {% for i in page %}
            {% if i == p %}
            <li class="page-item active"><a class="page-link" href="?q={{q}}&p={{i}}">{{i}}</a></li>
            {% else %}
            <li class="page-item"><a class="page-link" href="?q={{q}}&p={{i}}">{{i}}</a></li>
            {% endif %}
            {% endfor %}
						<li class="page-item">
              <a class="page-link" href="?q={{q}}&p={{last}}" aria-label="Next">
								<span aria-hidden="true">&raquo;</span>
								<span class="sr-only">Next</span>
							</a>
						</li>
					</ul>
				</nav>


        {% for key in keyterm_attr %}
        <div class="modal fade" id="t{{key}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">{{key}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body" style="text-align: left;">
                <h6>This key term first appears in slide:</h6>
                {% for x in keyterm_attr|getfirst:key %}
                <p><a href="/lecture/{{x.0}}"> {{x.1}}</a></p>
                {% endfor %}
                <h6>Also appears in slides: </h6>
                <div class="row">
                  {% for x in keyterm_attr|getrelated:key %}
                  <div class="col-md-3"><a href="/lecture/{{x.0}}">{{x.1}}</a><br></div>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}

      </div>
    </div>

  </body>

</html>
